.photo img{
    cursor: pointer;
    height: 250px;
    width:250px;

}
.photo h4{
margin-top: 20px;
    color: rgb(204, 140, 20);
}    
.photo {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.actors > div {
    margin: 20px;
}