.Author img {
    cursor: pointer;
    height: 200px;
    border-radius: 4px;
}

.Author h4 {
    margin-top: 20px;
    color: rgb(0, 0, 0);
}

.spanf {
    color: #1ed085;
    /*rgb(238, 216, 16);*/
    font-size: 68px;
    font-weight: bold;
    margin-bottom: 50px;
}

.Author {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.registerform {
    margin-top: 0px;
    padding: 60px;
}

.actors>div {
    margin: 40px;
}